﻿/* Main styles
-----------------------------------------------------------*/

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error {
   margin-top: 0;
   margin-bottom: 0;
}

.field-validation-valid { display: none; }

.validation-summary-valid { display: none; }

.validation-summary-errors > ul {
  margin: 0;
  list-style-type: none;
}