﻿<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/bundles/style")
  @RenderSection("styles", false)
  <!--[if IE 8]>
    <link rel="stylesheet" href="@Url.Content("~/www/css/site.ie8.css")">
  <![endif]-->
  <!--[if lte IE 9]>
    <link rel="stylesheet" href="@Url.Content("~/www/css/site.ie9.css")">
  <![endif]-->
</head>
<body>

<div class="container">
  @RenderBody()
</div>

@Scripts.Render("~/bundles/libs")
@RenderSection("scripts", false)
</body>
</html>