﻿@model HandleErrorInfo

<div class="alert alert-error">
  <p>
    <strong>Ошибка!</strong> Произошла ошибка при обработке вашего запроса. Если ошибка повторится, обратитесь, пожалуйста, в техническую поддержку.
  </p>
  <button class="btn btn-danger" data-toggle="collapse" data-target="#error">Подробнее</button>
</div>

<div class="collapse" id="error">
  <div class="alert alert-info">
    <p>
      @Model.Exception.Message
    </p>
    <p>
      @Model.Exception.StackTrace
    </p>
  </div>
</div>